.menu {
  filter: url("#shadowed-goo");
  z-index: 100;
  position: fixed;
  right: 50px;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  /* width: 380px; */
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item,
.menu-open-button {
  background: #26FBFF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: #0E1A54;
  text-align: center;
  line-height: 80px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-item-lvl2 {
  background: #26FBFF;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-left: -40px;
  position: absolute;
  top: 0px;
  color: #0E1A54;
  text-align: center;
  line-height: 70px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  z-index: -100;
  opacity: 0;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}


.menu-item:hover {
  background: white;
  color: #ff4081;
}

.menu-item:nth-child(3) {
  transition-duration: 70ms;
}

.menu-item:nth-child(4) {
  transition-duration: 130ms;
}

.menu-item:nth-child(5) {
  transition-duration: 190ms;
}

.menu-item:nth-child(6) {
  transition-duration: 250ms;
}

.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-item:nth-child(8) {
  transition-duration: 370ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(7.42548px, 167.48084px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(-61.81457px, 150.2491px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(-131.90842px, 112.99996px, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-185.04956px, 51.37192px, 0);
}

.menu-open:checked~.menu-item:nth-child(7) {
  transition-duration: 480ms;
  transform: translate3d(-202.40705px, -15.33693px, 0);
}

.menu-open:checked~.menu-item:nth-child(8) {
  transition-duration: 480ms;
  transform: translate3d(-214.40705px, -14.62808px, 0);
}




.menu-item-lvl2:nth-child(4) {
  transition-duration: 70ms;
}

.menu-item-lvl2:nth-child(5) {
  transition-duration: 130ms;
}

.menu-item-lvl2:nth-child(6) {
  transition-duration: 190ms;
}

.menu-open-2 {
  position: absolute;
  top: 30px;
  left: 35px;
  opacity: 0;
}

.menu-open-button-2 {
  z-index: 160;
  /* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer; */
  position: absolute;
  top: 30px;
  left: 35px;
  opacity: 0;
}

.menu-open-button-2:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open-2:checked+.menu-open-button-2 {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open-2:checked~.menu-item-2 {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open-2:checked~.menu-item-lvl2:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(214.42548px, 110.48084px, 0);
  background-color: red;
  z-index: 1000;
  width: 500px;
}

.menu-open-2:checked~.menu-item-lvl2:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(0.18543px, 129.2491px, 0);
  opacity: 1;
}

.menu-open-2:checked~.menu-item-lvl2:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(-28.90842px, 66.99996px, 0);
  opacity: 1;
}

.menu-open-2:checked~.menu-item-lvl2:nth-child(6) {
  transition-duration: 320ms;
  transform: translate3d(-94.18543px, 49.2491px, 0);
  opacity: 1;

}
