* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(38, 251, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(38, 251, 255, 1);
    border-radius: 30px;
}


body {

    font-family: 'Raleway', "Arial", sans-serif;
    font-size: 16px;
    background: #0E1A54;
    color: #26FBFF;
}


/* HEADER */
.navigation_mobile {
    display: none;
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 80px;
    background-color: rgba(14, 26, 84, 0.4);
    border-radius: 30px;
    padding-left: 10px;
    z-index: 10;
}

.nav_link {
    text-decoration: none;
    color: #26FBFF;
    padding-right: 35px;
    line-height: 28px;
    font-size: 1.5em;
    font-weight: 800;
    transition: 1s;
}

.nav_item {
    position: relative;
    transition: 1s;
}

.navigation:last-child {
    padding-right: 66px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -17%;
    z-index: 1;
    padding-top: 5px;
    transition: 1s;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    background-color: #26FBFF;
    padding: 20px 10px;
    margin-bottom: 5px;
    border-radius: 100px;
    text-align: center;
    font-size: 1em;
    line-height: 150%;
    transition: 1s;
}


.dropdown-content a:hover {
    background-color: #fff;
    font-weight: 600;
    transform: scale(1.2);
    box-shadow: #26FBFF 2px 0px 10px;
    transition: .3s;
    color: #0E1A54;
}

.dropdown-content a:active {
    color: #26FBFF;
}

.nav_item:hover .dropdown-content {
    display: block;
    transition: .3s;
}


@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }

    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }

    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}




/* MAIN */

.top_block {
    margin: 0 auto;
}

.cats_video_container {
    height: calc(100vh - 80px);

}

.cats_video {
    z-index: -2;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bubbles_bg {
    position: absolute;
    width: 100%;
    top: calc(100vh - 100vw / 7);
    z-index: -1;
    content: '';
    object-fit: cover;
}

.logo_container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 40px;
}

.logo {
    width: 40%;
    max-width: 536px;
    padding-top: 50px;
    z-index: 11;
}

.btn_join {
    position: relative;
    width: 40%;
    max-width: 458px;
    margin-top: 22px;
    padding-left: 40px;
    transition: .3s;
}

.btn_img {
    padding: 30px 30px 14px 10px;
    animation: btn_img_animation 3s infinite;
}

.btn_text {
    font-weight: 700;
    font-size: 3.125em;
    line-height: 150%;
    text-align: center;
    color: #0E1A54;
    margin: 0;
    z-index: 5;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    
}
.btn_text:hover {
    text-shadow: #16287B 2px 0px 10px;
}

.btn_ellipse_1 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 35%;
    width: 43px;
    height: 43px;
    animation: bubble_animation_1 2s linear infinite;
    z-index: 2;
}

.btn_ellipse_2 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    left: 25%;
    top: 15%;
    width: 11px;
    height: 11px;
    animation: bubble_animation_2 2s linear infinite;
    animation-delay: .1s;
    z-index: 2;
}

.btn_ellipse_3 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    left: 60%;
    top: 0%;
    width: 32px;
    height: 32px;
    animation: bubble_animation_3 2s linear infinite;
    animation-delay: .3s;
    z-index: 2;
}

.btn_ellipse_4 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    left: 91%;
    top: 16%;
    width: 21px;
    height: 21px;
    animation: bubble_animation_4 2s linear infinite;
    animation-delay: .5s;
    z-index: 2;
}

.btn_ellipse_5 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 77%;
    width: 27px;
    height: 27px;
    animation: bubble_animation_5 2s linear infinite;
    animation-delay: .2s;
    z-index: 2;
}

.btn_ellipse_6 {
    background-color: #26FBFF;
    border-radius: 100%;
    position: absolute;
    left: 50.4%;
    bottom: 0;
    width: 21px;
    height: 21px;
    animation: bubble_animation_6 2s linear infinite;
    animation-delay: .4s;
    z-index: 2;
}

@keyframes btn_img_animation {
    50% {
       transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bubble_animation_1 {
    50% {
        transform: translatex(-5px) translatey(-10px);
        -webkit-transform: translatex(-5px) translatey(-10px)
    }

    100% {
        transform: translatex(0) translatey(0);
        -webkit-transform: translatex(0) translatey(0)
    }
}

@keyframes bubble_animation_2 {
    50% {
        transform: translatey(-10px);
        -webkit-transform: translatey(-10px)
    }

    100% {
        transform: translatey(0);
        -webkit-transform: translatey(0)
    }
}

@keyframes bubble_animation_3 {
    50% {
        transform: translatey(-10px);
        -webkit-transform: translatey(-10px)
    }

    100% {
        transform: translatey(0);
        -webkit-transform: translatey(0)
    }
}

@keyframes bubble_animation_4 {
    50% {
        transform: translatex(5px) translatey(-10px);
        -webkit-transform: translatex(5px) translatey(-10px)
    }

    100% {
        transform: translatex(0) translatey(0);
        -webkit-transform: translatex(0) translatey(0)
    }
}

@keyframes bubble_animation_5 {
    50% {
        transform: translatex(-5px) translatey(-10px);
        -webkit-transform: translatex(-5px) translatey(-10px)
    }

    100% {
        transform: translatex(0) translatey(0);
        -webkit-transform: translatex(0) translatey(0)
    }
}

@keyframes bubble_animation_6 {
    50% {
        transform: translatey(10px);
        -webkit-transform: translatey(10px)
    }

    100% {
        transform: translatey(0);
        -webkit-transform: translatey(0)
    }
}

.btn_ellipse_1:hover,
.btn_ellipse_2:hover,
.btn_ellipse_3:hover,
.btn_ellipse_4:hover,
.btn_ellipse_5:hover,
.btn_ellipse_6:hover {
    box-shadow: #26FBFF 2px 0px 10px;
}

.btn_join:hover {
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}

.btn_join:hover .btn_ellipse_1,
.btn_join:hover .btn_ellipse_2,
.btn_join:hover .btn_ellipse_3,
.btn_join:hover .btn_ellipse_4,
.btn_join:hover .btn_ellipse_5,
.btn_join:hover .btn_ellipse_6{
    animation-duration: 5s;
}

.btn_join:hover .btn_img {
    animation-duration: 7s;
}

.social_btns_group {
    position: fixed;
    top: 40%;
    right: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 14px 0 10px 2px;
    z-index: 10;
}

.social_icon {
    width: 40px;
    height: 40px;
}

.intro_container {
    width: 100%;
    margin-bottom: 184px;
    height: 70vh;
    max-height: 865px;
    max-width: 1680px;
    margin: 0 auto;
}

.intro {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.intro_text_container {
    width: 50%;
    padding-top: 4%;
}

.intro_text {
    margin-bottom: 40px;
    line-height: 150%;
    font-size: 1.375em;
}

.gif_container {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.cat_cards_container {
    position: absolute;
    bottom: -58px;
    right: 10%;
}

.cat_cards {
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}


.content_container {
    max-width: 1114px;
    margin: 0 auto;
}

.title {
    font-family: 'Rubik Mono One', sans-serif;
    color: #FFCA98;
    font-size: 4em;
    line-height: 79px;
    margin-top: 100px;
}

.content_text {
    line-height: 150%;
    font-size: 1.375em;
    text-align: center;
    margin: 29px 0;
}

.meowerse_section {
    margin-top: 200px;
}

.meowverse_video {
    border-radius: 30px;
}

.meowverse_video_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tokenimilks {
    overflow: hidden;
    display: flex;
}

.tokenimilks_left {
    width: 55%;
}

.tokenimilks_left_text {
    text-align: left;
}

.milk_img {
    flex-grow: 1;
}

.milk_box {
    position: relative;
    animation: bounce 2.5s linear infinite;
}

@keyframes bounce {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 20px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.story {
    background-color: #16287B;
    box-shadow: 0px 4px 35px 18px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.story_title {
    text-align: center;
    padding-top: 18px;
}

.story_top {
    display: flex;
    margin: 30px 31px 0 34px;
}

.story_top_left {
    width: 50%;
    flex-grow: 1;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story_top_right {
    flex-grow: 1;
    width: 50%;
}

.story_text {
    font-size: 1.375em;
    line-height: 150%;
    color: #fff;
}

.story_text_mobile {
    display: none;
}

.story_middle {
    margin: 30px 31px 0 34px;
}

.story_bot {
    display: flex;
    margin: 30px 31px 0 34px;
    padding-bottom: 18px;
}

.story_video_4 {
    margin-bottom: 30px;

}


.join_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.join_text {
    margin-bottom: 29px;
}

.philosophy {
    text-align: center;
}

.philosophy_title {
    margin-bottom: 45px;
}

.philosophy_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.philosophy_list_item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1.375em;
    line-height: 150%;
    color: #fff;
    text-align: left;
}

.philosophy_icon_img {
    max-width: 69px;
    margin-right: 30px;
}

.traits {
    text-align: center;
}

.traits_title {
    margin-bottom: 29px;
}

.traits_content {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 4px 51px 22px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.traits_img {
    margin: 28px 0 17px;
}

.traits_text {
    color: #000;
    font-weight: 700;
    font-size: 2em;
    line-height: 150%;
    text-align: center;
    padding: 0 33px 23px 33px;
}

.roadmap {
    position: relative;
    width: 100%;
}

.roadmap_title {
    text-align: center;
    margin-bottom: 45px;
}

.roadmap_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
}

.roadmap_list_item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1.375em;
    opacity: 0;
    transition: 1s;
}

.roadmap_list_item_active {
    opacity: 1;
    transition: 1s;
}

.rodamap_icon_img {
    max-width: 69px;
    margin-right: 30px;
}

.ellipse_right_half {
    position: absolute;
    right: 0;
    top: 0
}

.ellipse_left_half {
    position: absolute;
    left: 0;
    top: 35%;
    max-width: 8%;
}

.small_ellipse_1 {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #26FBFF;
    position: absolute;
    right: 30%;
    top: 23%;
    z-index: -100;
}

.small_ellipse_2 {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #26FBFF;
    position: absolute;
    right: 20%;
    top: 45.5%;
    z-index: -100;
}

.why {
    position: relative;
}

.why_container {}

.why_bg {
    width: 100%;
    max-height: 1106px;
    min-height: 1106px;
    position: absolute;
    bottom: -270px;
    left: 0;
    z-index: -1;
}

.why_title {
    color: #0E1A54;
    margin-top: 119px;
    margin-bottom: 29px;
}

.why_text {
    font-size: 1.375em;
    line-height: 150%;
    color: #0E1A54;
    text-align: left;
    margin-top: 20px;
}

/* FOOTER */

footer {
    width: 100%;
    height: 350px;
    max-height: 350px;
    background-image: url(./assets/footer-bubbles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: 0 auto;
}

.footer_logo {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1%;
}

.footer_logo_img {
    width: 225px;
    height: 129px;
    /* padding: 150px 0 90px 0px; */
}

.footer_info {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_title {
    /* padding-top: 92px; */
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 2em;
    line-height: 150%;
    color: #fff;
}

.footer_text {
    font-size: 1.375em;
    line-height: 150%;
    text-align: center;
    color: #FFF;
}

.footer_icons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer_icon {
    margin-left: 30px;
}

.footer_icons :first-child {
    margin-left: 0;
}

.footer_empty {
    width: 33%;
}

.show {
    opacity: 1;
    transition: 1s;
}