* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Raleway', "Arial", sans-serif;
    font-size: 16px;
    background: #0E1A54;
    color: #26FBFF;
    box-sizing: border-box;
}


/* HEADER */


.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-top: 26px; */
    height: 80px;
}

.nav_link {
    text-decoration: none;
    color: #26FBFF;
    margin-right: 35px;
    line-height: 28px;
    font-size: 1.5em;
    font-weight: 800;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }

    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }

    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }

    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }

    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }

    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.navigation:last-child {
    margin-right: 66px;
}


/* MAIN */

.top_block {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid red;
}

.cats_container {
    width: 100%;
}

.cats_video {
    position: absolute;
    top: 80;
    left: 0;
    content: '';
    width: 100%;
    height: 811px;
    max-height: 811px;
    z-index: -2;
    object-fit: cover;
    margin: 0;
    padding: 0;

}

.logo_container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.logo {
    width: 40%;
    max-width: 536px;
    max-height: 307px;
    /* padding-left: 52px; */
    padding-top: 74px;
}

.btn_join {
    width: 40%;
    max-width: 458px;
    max-height: 237px;
    padding-left: 40px;
    padding-top: 22px;
    transition: .3s;
}

.btn_join:hover {
    transform: scale(1.2);
    transition: .3s;
    cursor: pointer;
}

.social_btns_group {
    position: fixed;
    top: 30%;
    right: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 10px 0 10px 2px;
    z-index: 10;
}


.social_icon {
    width: 40px;
    height: 40px;
    padding: 10px;

}

.intro {
    position: relative;
    margin-top: 148px;
}

.intro_text_container {
    width: 40%;
}

.intro_text {
    margin-bottom: 20px;
}

.bubbles_bg {
    position: absolute;
    width: 100%;
    /* height: 604px; */
    top: 580px;
    z-index: -1;
    content: '';
    object-fit: cover;
}




.content_container {
    /* max-width: 80%; */
    max-width: 1114px;
    margin: 50px auto 0;
}

.title {
    font-family: 'Rubik Mono One', sans-serif;
    color: #FFCA98;
    font-size: 64px;
    line-height: 79px;
}

.content_text {
    line-height: 150%;
    font-size: 1.375em;
    text-align: center;
    margin: 29px 0;
}

.meowverse_video {
    border-radius: 30px;

}

.meowverse_video_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tokenimilks {
    display: flex;
}

.tokenimilks_left {
    width: 55%;
}

.tokenimilks_left_text {
    text-align: left;
}

*/ .milk_img {
    flex-grow: 1;
}

.milk_box {
    position: relative;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 20px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.story {
    background-color: #16287B;
    box-shadow: 0px 4px 35px 18px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.story_title {
    text-align: center;
    padding-top: 18px;
}

.story_top {
    display: flex;
    margin: 30px 31px 0 34px;
}

.story_top_left {
    width: 50%;
    flex-grow: 1;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story_top_right {
    flex-grow: 1;
    width: 50%;
}

.story_text {
    font-size: 1.375em;
    line-height: 150%;
    color: #fff;
}

.story_middle {
    margin: 30px 31px 0 34px;
}

.story_bot {
    display: flex;
    margin: 30px 31px 0 34px;
    padding-bottom: 18px;
}

.story_video_4 {
    margin-bottom: 30px;
}


.join_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.join_text {
    margin-bottom: 29px;
}

.philosophy {
    text-align: center;
}

.philosophy_title {
    margin-bottom: 45px;
}

.philosophy_list {
    list-style-image: url('./assets/pawprint.fill.svg');
    padding: 0 0 0 85px;
}

.philosophy_list_item {
    position: relative;
    margin-bottom: 64px;
    text-align: left;
    padding-left: 40px;
    font-size: 1.375em;
    line-height: 150%;
    color: #fff;
}

.list_text {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}


.traits {
    text-align: center;
}

.traits_title {
    margin-bottom: 29px;
}

.traits_content {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 4px 51px 22px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.traits_img {
    margin: 28px 0 17px;
}

.traits_text {
    color: #000;
    font-weight: 700;
    font-size: 2em;
    line-height: 150%;
    text-align: center;
    padding: 0 33px 23px 33px;
}


.roadmap_title {
    text-align: center;
    margin-bottom: 45px;
}

.roadmap_list {
    list-style-image: url('./assets/pawprint-Aqua.svg');
    padding: 0 0 0 85px;
}

.roadmap_list_item {
    position: relative;
    margin-bottom: 64px;
    text-align: left;
    padding-left: 40px;
    font-size: 1.375em;
    line-height: 150%;
    color: #26FBFF;
}

ul.roadmap_list>li:first-child {
    color: #26FF49;
    list-style-image: url('./assets/pawprint-Green.svg');
}

.roadmap_list :nth-child(2) {
    color: #26FF49;
    list-style-image: url('./assets/pawprint-Green.svg');
}

.why {
    /* height: 1106px; */
    position: relative;
    /* background-image: url(./assets/why-bubbles.png) ;
   
    background-size: cover;
    z-index: 10;
    overflow: visible; */
}

.why_container {
    
}

.why_bg {   
    width: 100%;
    max-height: 1106px;
    min-height: 1106px;
    position: absolute;
    bottom: -270px;
    left: 0;
    z-index: -1;
}

.why_title {
    /* color: #0E1A54; */
    margin-top: 119px;
    margin-bottom: 29px;
    color: #fff;

}

.why_text {
    font-size: 1.375em;
    line-height: 150%;
    /* color: #0E1A54; */
    color: #fff;
    text-align: left;
    margin-top: 20px;
}

/* FOOTER */

footer {
    width: 100%;
    background-image: url(./assets/footer-bubbles.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: 0 auto;
}

.footer_logo {
    width: 33%;
}

.footer_logo_img {
    width: 225px;
    height: 129px;
    padding: 150px 0 90px 0px;
}

.footer_info {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_title {
    padding-top: 92px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 2em;
    line-height: 150%;
    color: #fff;
}

.footer_text {
    font-size: 1.375em;
    line-height: 150%;
    text-align: center;
    color: #FFF;
}

.footer_icons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer_icon {
    margin-left: 30px;
}

.footer_icons :first-child {
    margin-left: 0;
}

.footer_empty {
    width: 33%;
}