@font-face { font-family: 'Rubik Mono One'; src: url("./fonts/RubikMonoOne-Regular.ttf") }

@font-face { font-family: 'Raleway'; src: url("./fonts/Raleway-VariableFont_wght.ttf") }

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {

    width: 0;

}


body {
    scroll-behavior: smooth;
    
    text-rendering: optimizeSpeed;

    font-family: 'Raleway', "Arial", sans-serif;

    font-size: 16px;

    background: #0E1A54;

    color: #26FBFF;

    min-width: 320px;

    max-width: 1024px;

}





/* HEADER */







#menu__toggle {

    opacity: 0;

}



.menu__btn {

    display: flex;

    position: fixed;

    top: 20px;

    right: 20px;

    width: 26px;

    height: 26px;

    cursor: pointer;

    z-index: 100;

}



.menu__btn>span,

.menu__btn>span::before,

.menu__btn>span::after {

    display: block;

    position: absolute;

    width: 100%;

    height: 2px;

    background-color: #26FBFF;

    transition: .5s;

}



.menu__btn>span::before {

    content: '';

    top: -8px;

}



.menu__btn>span::after {

    content: '';

    top: 8px;

}



.menu__box {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    position: fixed;

    visibility: hidden;

    top: -100%;

    right: 0;

    width: 100%;

    height: 100%;

    margin: 0;

    padding: 80px 0;

    list-style: none;

    text-align: center;

    background-color: #0E1A54;

    z-index: 11;

    transition: 1s;

}



/* элементы меню */

.menu__item {

    display: block;

    padding: 12px 24px;

    margin: 20px 0;

    box-shadow: #26FBFF 2px 0px 10px;

    border-radius: 30px;

    text-decoration: none;

    background-color: #26FBFF;

    color: #0E1A54;

    line-height: 28px;

    font-size: 1.5em;

    font-weight: 800;

    transition: s;

    min-width: 250px;

}





#menu__toggle:checked~.menu__btn>span {

    transform: rotate(45deg);

}



#menu__toggle:checked~.menu__btn>span::before {

    top: 0;

    transform: rotate(0);

}



#menu__toggle:checked~.menu__btn>span::after {

    top: 0;

    transform: rotate(90deg);

}



#menu__toggle:checked~.menu__box {

    visibility: visible;

    top: 0;

    right: 0;

    transition: .5s;

}





.navigation {

    display: none

}



/* MAIN */



.top_block {

    margin: 0 auto;

}



.cats_video_container {

    width: 100vw;

    max-width: 1024px;

    overflow: hidden;

    position: relative;

    height: 100vh;

}



.cats_video {

    z-index: -2;

    object-fit: fill;

    position: absolute;

    bottom: 0;

    left: -50%;

    content: '';

    width: 150%;

    margin: 0;

    padding: 0;

    height: 81vh;

}



.logo_container {

    position: relative;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    align-items: center;

    flex-wrap: nowrap;

    width: 100%;

    height: 40vh;

    margin-top: 0;

    

}



.logo {

    top: 5%;

    left: 0;

    width: 70%;

    max-width: 536px;

    display: none;

}



.logo_iphone {

    padding-top: 20px;

    left: 0;

    width: 70%;

    max-width: 536px;

}



.btn_join {

    position: relative;

    width: 300px;

    min-width: 250px;

    max-width: 458px;

    margin-top: 22px;

    padding-left: 27px;

    transition: .3s;

}



.btn_img {

    padding: 21px 21px 10px 7px;

    animation: btn_img_animation 3s infinite;

}



.btn_text {

    font-weight: 700;

    font-size: 2em;

    line-height: 150%;

    text-align: center;

    color: #0E1A54;

    margin: 0;

    z-index: 5;

    position: absolute;

    top: 55%;

    left: 50%;

    margin-right: -50%;

    transform: translate(-50%, -50%);

}



.btn_text:hover {

    text-shadow: #16287B 2px 0px 10px;

}



.btn_ellipse_1 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    left: 0;

    top: 35%;

    width: 30px;

    height: 30px;

    animation: bubble_animation_1 2s linear infinite;

    z-index: 2;

}



.btn_ellipse_2 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    left: 25%;

    top: 15%;

    width: 8px;

    height: 8px;

    animation: bubble_animation_2 2s linear infinite;

    animation-delay: .1s;

    z-index: 2;

}



.btn_ellipse_3 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    left: 60%;

    top: 0%;

    width: 22px;

    height: 22px;

    animation: bubble_animation_3 2s linear infinite;

    animation-delay: .3s;

    z-index: 2;

}



.btn_ellipse_4 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    left: 91%;

    top: 16%;

    width: 15px;

    height: 15px;

    animation: bubble_animation_4 2s linear infinite;

    animation-delay: .5s;

    z-index: 2;

}



.btn_ellipse_5 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    right: 0;

    top: 77%;

    width: 19px;

    height: 19px;

    animation: bubble_animation_5 2s linear infinite;

    animation-delay: .2s;

    z-index: 2;

}



.btn_ellipse_6 {

    background-color: #26FBFF;

    border-radius: 100%;

    position: absolute;

    left: 35%;

    bottom: 0;

    width: 15px;

    height: 15px;

    animation: bubble_animation_6 2s linear infinite;

    animation-delay: .4s;

    z-index: 2;

}



@keyframes btn_img_animation {

    50% {

        transform: scale(.9);

    }



    100% {

        transform: scale(1);

    }

}



@keyframes bubble_animation_1 {

    50% {

        transform: translatex(-5px) translatey(-10px);

        -webkit-transform: translatex(-5px) translatey(-10px)

    }



    100% {

        transform: translatex(0) translatey(0);

        -webkit-transform: translatex(0) translatey(0)

    }

}



@keyframes bubble_animation_2 {

    50% {

        transform: translatey(-10px);

        -webkit-transform: translatey(-10px)

    }



    100% {

        transform: translatey(0);

        -webkit-transform: translatey(0)

    }

}



@keyframes bubble_animation_3 {

    50% {

        transform: translatey(-10px);

        -webkit-transform: translatey(-10px)

    }



    100% {

        transform: translatey(0);

        -webkit-transform: translatey(0)

    }

}



@keyframes bubble_animation_4 {

    50% {

        transform: translatex(5px) translatey(-10px);

        -webkit-transform: translatex(5px) translatey(-10px)

    }



    100% {

        transform: translatex(0) translatey(0);

        -webkit-transform: translatex(0) translatey(0)

    }

}



@keyframes bubble_animation_5 {

    50% {

        transform: translatex(-5px) translatey(-10px);

        -webkit-transform: translatex(-5px) translatey(-10px)

    }



    100% {

        transform: translatex(0) translatey(0);

        -webkit-transform: translatex(0) translatey(0)

    }

}



@keyframes bubble_animation_6 {

    50% {

        transform: translatey(10px);

        -webkit-transform: translatey(10px)

    }



    100% {

        transform: translatey(0);

        -webkit-transform: translatey(0)

    }

}



.btn_ellipse_1:hover,

.btn_ellipse_2:hover,

.btn_ellipse_3:hover,

.btn_ellipse_4:hover,

.btn_ellipse_5:hover,

.btn_ellipse_6:hover {

    box-shadow: #26FBFF 2px 0px 10px;

}



.btn_join:hover {

    transform: scale(1.1);

    transition: .3s;

    cursor: pointer;

}



.btn_join:hover .btn_ellipse_1,

.btn_join:hover .btn_ellipse_2,

.btn_join:hover .btn_ellipse_3,

.btn_join:hover .btn_ellipse_4,

.btn_join:hover .btn_ellipse_5,

.btn_join:hover .btn_ellipse_6 {

    animation-duration: 5s;

}



.btn_join:hover .btn_img {

    animation-duration: 7s;

}



.social_btns_group {

    display: none;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    position: fixed;

    top: 30%;

    right: 0;

    width: 50px;

    background-color: rgba(0, 0, 0, .6);

    border-radius: 10px 0 0 10px;

    padding: 14px 0 10px 2px;

    z-index: 10;

}



.social_icon {

    width: 40px;

    height: 40px;

}



.intro_container {

    width: 100%;

}



.intro {

    max-width: 90%;

    margin: 0 auto;

    position: relative;

    display: flex;

    flex-direction: column-reverse;

    justify-content: space-between;

    align-items: center;

    height: 100%;

    padding-top: 10px;

    /* border: 2px solid yellow; */

    /* margin-top: 50vh; */

}



.intro_text_container {

    width: 100%;

}



.intro_text {

    margin-top: 10px;

    line-height: 150%;

    font-size: 	0.875em;

    text-align: center;



}



.gif_container {

    position: relative;

    width: 100%;

    display: flex;

    flex-direction: column;

}



.cat_cards_container {

    text-align: center;

}



.cat_cards {

    border-radius: 30px;

    width: 100%;

    max-width: 250px;

    max-height: 350px;

}



.bubbles_bg {

    display: none;

    position: absolute;

    width: 100%;

    bottom: 15vh;

    z-index: -1;

    content: '';

    object-fit: cover;

}



.content_container {

    max-width: 90%;

    min-width: 320px;

    margin: 0 auto;

}



.title {

    font-family: 'Rubik Mono One', sans-serif;

    color: #FFCA98;

    font-size: 1.5em;

    line-height: 150%;

    margin-top: 50px;

    text-align: center;

}



.content_text {

    line-height: 150%;

    font-size: 0.875em;

    text-align: center;

    margin: 15px 0;

}



.meowverse_video {

    border-radius: 30px;

    opacity: 0;

}



.meowverse_video_container {

    display: flex;

    justify-content: center;

    width: 100%;

}



.tokenimilks {

    overflow: hidden;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.tokenimilks_left {

    width: 100%;

}



.tokenimilks_left_text {

    text-align: center;

}



.milk_img {

    width: 80%;

}



.milk_box {

    position: relative;

    width: 100%;

    animation: bounce 2.5s linear infinite;

}



@keyframes bounce {

    0% {

        left: 0px;

        top: 0px;

    }



    50% {

        left: 0px;

        top: 20px;

    }



    100% {

        left: 0px;

        top: 0px;

    }

}



.story {

    background-color: #16287B;

    box-shadow: 0px 4px 35px 18px rgba(0, 0, 0, 0.25);

    border-radius: 30px;

}



.story_title {

    text-align: center;

    padding-top: 18px;

}



.story_top {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    /* margin: 30px 31px 0 34px; */

}



.story_top_left {

    width: 98%;

    padding: 5px 0;

    /* margin-right: 30px; */

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}



.story_top_right {

    width: 98%;

    padding-top: 5px;

}



.story_text {

    text-align: center;

    font-size: 0.875em;

    line-height: 150%;

    font-weight: 600;

    color: #fff;

    padding: 5px 0;

}



.story_bot .story_text {

    display: none;

    text-align: center;

    font-size: 0.875em;

    line-height: 150%;

    font-weight: 600;

    color: #fff;

    padding: 5px 0;

}



.story_text_mobile {

    text-align: center;

    font-size: 0.875em;

    line-height: 150%;

    font-weight: 600;

    color: #fff;

    padding: 5px 0;

}



.story_middle {

    width: 98%;

    padding-top: 5px;

    margin: 0 auto;

    /* margin: 30px 31px 0 34px; */

}



.story_bot {

    width: 100%;

    display: flex;

    flex-direction:column;

    align-items: center;

    justify-content: center;

    padding-bottom: 25px;

    

}



.story_video_4 {

    width: 100%;

    padding-bottom: 5px;

}





.join_section {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

}



.join_text {

    margin-bottom: 29px;

}











.philosophy {

    text-align: center;

}



.philosophy_title {

    margin-bottom: 15px;

}



.philosophy_list {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.philosophy_list_item {

    display: flex;

    justify-content: start;

    align-items: center;

    width: 100%;

    padding: 10px 0;

    font-size: 0.875em;

    line-height: 150%;

    color: #fff;

    text-align: left;

}



.philosophy_icon_img {

    max-width: 20px;

    margin-right: 10px;

}



.traits {

    text-align: center;

}



.traits_title {

    margin-bottom: 15px;

}



.traits_content {

    width: 100%;

    background-color: #FFF;

    box-shadow: 0px 4px 51px 22px rgba(0, 0, 0, 0.25);

    border-radius: 30px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.traits_img_container {

    margin: 20px 0 10px;

    

}



.traits_img {

    width: 98%;                   

}



.traits_text {

    color: #000;

    font-weight: 700;

    font-size: 1em;

    line-height: 150%;

    text-align: center;

    padding: 0 20px 10px 20px;

}



.roadmap {

    position: relative;

    width: 100%;

}



.roadmap_title {

    text-align: center;

    margin-bottom: 20px;

}



.roadmap_list {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.roadmap_list_item {

    display: flex;

    justify-content: start;

    align-items: center;

    width: 100%;

    padding: 10px 0;

    font-size: 0.875em;

    opacity: 0;

}

.roadmap_list_item_active {

    opacity: 1;

    transition: 1s;

}



.rodamap_icon_img {

    max-width: 20px;

    margin-right: 10px;

}





.ellipse_right_half {

    position: absolute;

    width: 10%;

    right: 0;

    top: 15%

}



.ellipse_left_half {

    position: absolute;

    left: 0;

    top: 55%;

    max-width: 4%;

}



.small_ellipse_1 {

    width: 30px;

    height: 30px;

    border-radius: 100px;

    background-color: #26FBFF;

    position: absolute;

    right: 40%;

    top: 29%;

    z-index: -100;

}



.small_ellipse_2 {

    width: 30px;

    height: 30px;

    border-radius: 100px;

    background-color: #26FBFF;

    position: absolute;

    right: 20%;

    top: 80%;

    z-index: -100;

}



.why {

    position: relative;

    overflow: hidden;

    padding-bottom: 50px;

    margin-bottom: -40px;

}



.why_bg {

    width: 234%;

    height: 181%;

    position: absolute;

    bottom: -290px;

    left: -90px;

    z-index: -1;

}



.why_title {

    color: #0E1A54;

    margin-top: 119px;

    margin-bottom: 29px;

}



.why_text {

    font-size: 0.875em;

    line-height: 150%;

    color: #0E1A54;

    text-align: left;

    margin-top: 20px;

}



/* FOOTER */



footer {

    width: 100%;

    min-height: 130px;

    max-height: 350px;

    background-image: url(./assets/footer-bubbles.svg);

    background-repeat: no-repeat;

    background-size: cover;

    display: flex;

    align-items: flex-end;

}



.footer_container {

    position: relative;

    width: 100%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    max-width: 1024px;

    min-width: 481px;

    margin: 0 auto;

}



.footer_logo {

    width: 35%;

    display: flex;

    align-items: flex-start;

    justify-content: center;

}



.footer_logo_img {

    width: 30%;

    padding-bottom: 5px;

    display: none;

}



.footer_logo_img_iphone {

    width: 30%;

    padding-bottom: 5px;

}



.footer_info {

    width: 50%;

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: center;

}



.footer_title {

    font-weight: 700;

    font-size: 0.675em;

    line-height: 150%;

    color: #fff;

}



.footer_text {

    font-size: 0.5em;

    line-height: 100%;

    text-align: center;

    color: #FFF;

}



.footer_year {

    font-size: 0.5em;

}



.footer_icons {

    display: flex;

    justify-content: center;

    align-items: center;

}



.footer_icon {

    width: 20%;

    padding-top: 5px;

    text-align: center;

}



.footer_icon_img {

    width: 50%;

}



.footer_icons :first-child {

    margin-left: 0;

}



.show {

    opacity: 1;

    transition: 1s;

}

/* Preloader */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
.preloader_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

  .additional_link {
	text-decoration: none;

	font-weight: 700;

	color: #26FBFF;
  }